extends layout

block customhead
  //- link(rel="stylesheet", href="/js/custom.js")

block content
  h1 Express Boiler Plate
  p Welcome to Express Boiler Plate

block customscripts
  //- script(src="/js/custom.js")